{% extends "_layout.html" %}
{% block title %}Report not found{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}
{% block content %}
  <div class="headline-block">
    <div class="headline-inner">
      <h1 class="biz-name">We can't find that report</h1>
      <p class="headline-sub">Check that the link matches the one in your email. If it still doesn't open, you can run a new scan.</p>
      <p style="margin-top:24px;"><a class="btn" href="/">Run a new scan</a></p>
    </div>
  </div>
{% endblock %}
